---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import AnaCarolinaImg from "assets/ana-carolina.png";
import JoaoImg from "assets/joao.png";
import KamilaImg from "assets/kamila.png";
import KarolinaImg from "assets/karolina.png";
import LaraImg from "assets/lara.png";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Equipe">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Nossa Equipe</Fragment>
      <Fragment slot="desc">Conheça os profissionais do Instituto Rizoma.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-[2fr_3fr] gap-10 mx-auto max-w-4xl mt-12">
          <div class="group flex items-center" id="ana-carolina">
            <div class="w-full aspect-square">
              <Picture
                src={AnaCarolinaImg}
                alt="Ana Carolina Simão"
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>
          </div>

          <div class="group">
            <p class="text-3xl font-bold text-gray-800">Ana Carolina Simão</p>
            <p class="text-md leading-relaxed text-slate-800">
             <strong>Psicóloga</strong> (CRP 06/118379).
            </p>
            <br />
            <p class="text-md leading-relaxed text-slate-800">
             Formada em Psicologia com ênfase em Clínica pela PUC-Campinas,
              <strong>Mestre em Ciências - Saúde Mental pela Unicamp</strong>, possui 9 anos de experiência na clínica privada e no
              <strong>trabalho com grupos</strong> em instituições.
            </p>
            <p class="text-md leading-relaxed text-slate-800">Seu percurso também passa pelo aprimoramento em saúde mental
               (Instituto A Casa) com casos mais graves, cursos sobre psicanálise de grupo (Instituto Gerar de Psicanálise)
                e aperfeiçoamento em <strong>psicanálise contemporânea.</strong>
            </p>
            <p class="text-md leading-relaxed text-slate-800">
              Trabalha em consultório particular com questões que atravessam nosso tempo e nossa cultura, atingindo
              principalmente <strong>adolescentes e adultos com ansiedade, transição de carreira, síndrome do imigrante e
              estresse pós-traumático.</strong>
            </p>
          </div>

          <div class="group flex items-center" id="joao">
            <div class="w-full aspect-square">
              <Picture
                src={JoaoImg}
                alt="Dr. João Paulo Zerbinati"
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>
          </div>

          <div class="group">
            <p class="text-3xl font-bold text-gray-800">Dr. João Paulo Zerbinati</p>
            <p class="text-md leading-relaxed text-slate-800">
             <strong>Psicólogo</strong> (CRP 06/119389).
            </p>
            <br />
            <p class="text-md leading-relaxed text-slate-800">
              Psicólogo com mais de 10 anos de experiência clínica. Graduado pela PUC-Campinas com ênfase em clínica
              psicanalítica, <strong>mestre pela UNESP e doutor em Psicologia pela USP</strong>.

            </p>
            <p class="text-md leading-relaxed text-slate-800">
              Atua com ênfase no desenvolvimento emocional e na saúde mental pela perspectiva da <strong>psicanálise
              contemporânea</strong> (Freud e Winnicott). Mantém estudos avançados em sociedades psicanalíticas ligadas à
              Associação Psicanalítica Internacional.
            </p>
            <p class="text-md leading-relaxed text-slate-800">
              Sua trajetória combina prática clínica com produção científica nas áreas de <strong>Psicanálise, Psicologia,
              Gênero e Sexualidade</strong>.
            </p>
          </div>

          <div class="group  flex items-center" id="kamila">
            <div class="w-full aspect-square">
              <Picture
                src={KamilaImg}
                alt="Dra. Kamila Baruque Bignotto"
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>
          </div>

          <div class="group">
            <p class="text-3xl font-bold text-gray-800">Dra. Kamila Baruque Bignotto</p>
            <p class="text-md leading-relaxed text-slate-800">
             <strong>Médica Psiquiatra</strong> (CRM-SP162517 | RQE 66011-1).
            </p>
            <br />
            <p class="text-md leading-relaxed text-slate-800">
              Médica Psiquiatra formada pela SES-Sorocaba em <strong>Psiquiatria da infância e adolescência pela UNICAMP</strong>.
            </p>
            <p class="text-md leading-relaxed text-slate-800">
              Desde 2018 atua como psiquiatra colaboradora da UNICAMP, no serviço de Gênero e sexualidade humana e
               supervisão de médicos residentes da universidade. Tem <strong>especialização em medicina canabinóide</strong>.
            </p>
            <p class="text-md leading-relaxed text-slate-800">
              Com mais de 12 anos de experiência na medicina, está apta a identificar e tratar, de <strong>forma integral
              e personalizada, as diversas necessidades psiquiátricas de crianças, adolescentes e adultos</strong>.
            </p>
          </div>

          <div class="group  flex items-center" id="karolina">
            <div class="w-full aspect-square">
              <Picture
                src={KarolinaImg}
                alt="Karoline Bignotto"
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>
          </div>

          <div class="group">
            <p class="text-3xl font-bold text-gray-800">Dra. Karoline Bignotto</p>
            <p class="text-md leading-relaxed text-slate-800">
             <strong>Médica de Família</strong> (CRM-SP 197.489).
            </p>
            <br />
            <p class="text-md leading-relaxed text-slate-800">
              Médica há 6 anos, graduada pela Universidade Federal do Rio de Janeiro,
              <strong>especialista em medicina de família e comunidade</strong> pelo programa de
              residência da Prefeitura de São Bernardo do Campo (RQE 110.230),
              <strong>pós-graduada em gestão em saúde pelo Ensino Albert Einstein</strong>.
            </p>
            <p class="text-md leading-relaxed text-slate-800">
              Atendimento de todos os ciclos de vida, auxiliando o indivíduo a acessar
              um <strong>acompanhamento de saúde preventivo, integral</strong>, coordenado,
              baseado em evidencia e centrado em suas especificidades.
            </p>
          </div>

          <div class="group flex items-center" id="lara">
            <div class="w-full aspect-square">
              <Picture
                src={LaraImg}
                alt="Lara de Sousa Blanes"
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>
          </div>

          <div class="group">
            <p class="text-3xl font-bold text-gray-800">Lara Sousa Blanes</p>
            <p class="text-md leading-relaxed text-slate-800">
             <strong>Psicóloga</strong> (CRP 06/120257).
            </p>
            <br />
            <p class="text-md leading-relaxed text-slate-800">
              Psicóloga existencial fenomenológica, sanitarista e redutora de danos.
              Com formação pela PUCCAMP (2013), atua há mais de 10 anos na <strong>saúde mental</strong>,
              com experiência em <strong>atendimentos clínicos, uso de substâncias psicoativas e políticas públicas</strong>. 
              Participou da desinstitucionalização dos hospitais psiquiátricos de Sorocaba e trabalhou na
              organização do RAPS em Cerquilho, em parceria com o Ministério da Saúde.
            </p>
            <p class="text-md leading-relaxed text-slate-800">
              Foi Psicóloga do CAPS AD III por 8 anos, onde também atuou na formação de profissionais.
              Tem formação em Justiça Restaurativa, <strong>medicina psicodélica, cannabis medicinal e
                antropologia da saúde</strong>. 
            </p>
            <p class="text-md leading-relaxed text-slate-800">
              Atualmente, integra o núcleo clínica da Associação MentalCann e atende em consultório particular. 
            </p>
          </div>
    </div>
  </Container>
</Layout>
