---
import { Picture } from "astro:assets";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import AnaCarolinaImg from "assets/ana-carolina.png";
import JoaoImg from "assets/joao.png";
import KamilaImg from "assets/kamila.png";
import KarolinaImg from "assets/karolina.png";
import LaraImg from "assets/lara.png";
---

<div id="equipe" class="w-full py-8" style="background-color: #cac2b5;">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Nossa equipe</Fragment>
      <Fragment slot="desc">Profissionais especializados e experientes trabalhando juntos pelo seu bem-estar.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
        <div class="group">
          <div class="w-full aspect-square">
            <a href="/equipe/#ana-carolina"><Picture
              src={AnaCarolinaImg}
              alt="Ana Carolina Simão"
              sizes="(max-width: 800px) 100vw, 400px"
              width={400}
              height={400}
              class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
            /></a>
          </div>

          <div class="mt-4 text-center">
            <h2 class="text-lg text-gray-900">Ana Carolina Simão</h2>
            <h2 class="text-slate-700">
              Psicóloga
            </h2>
            <h4 class="text-sm text-slate-600">
              (CRP 06/118379)
            </h4>
          </div>
        </div>

        <div class="group">
          <div class="w-full aspect-square">
            <a href="/equipe/#joao"><Picture
              src={JoaoImg}
              alt="Dr. João Paulo Zerbinati"
              sizes="(max-width: 800px) 100vw, 400px"
              width={400}
              height={400}
              class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
            /></a>
          </div>
          <div class="mt-4 text-center">
            <h2 class="text-lg text-gray-900">João Paulo Zerbinati</h2>
            <h2 class="text-slate-700">
              Psicólogo
            </h2>
            <h4 class="text-sm text-slate-600">
              (CRP 06/119389)
            </h4>
          </div>
        </div>

        <div class="group">
          <div class="w-full aspect-square">
            <a href="/equipe/#kamila"><Picture
              src={KamilaImg}
              alt="Dra. Kamila Baruque Bignotto"
              sizes="(max-width: 800px) 100vw, 400px"
              width={400}
              height={400}
              class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
            /></a>
          </div>

          <div class="mt-4 text-center">
            <h2 class="text-lg text-gray-900">Dra. Kamila Baruque Bignotto
            </h2>
            <h2 class="text-slate-700">
              Médica Psiquiatra
            </h2>
            <h4 class="text-sm text-slate-600">
              (CRM-SP162517 | RQE 66011-1)
            </h4>
          </div>
        </div>

        <div class="group">
          <div class="w-full aspect-square">
            <a href="/equipe/#karolina"><Picture
              src={KarolinaImg}
              alt="Karoline Bignotto"
              sizes="(max-width: 800px) 100vw, 400px"
              width={400}
              height={400}
              class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
            /></a>
          </div>
          <div class="mt-4 text-center">
            <h2 class="text-lg text-gray-900">Dra. Karoline Bignotto</h2>
            <h2 class="text-slate-700">
            Médica de Família
            </h2>
            <h4 class="text-sm text-slate-600">
              (CRM-SP 197.489)
            </h4>
          </div>
        </div>

        <div class="group">
          <div class="w-full aspect-square">
            <a href="/equipe/#lara"><Picture
              src={LaraImg}
              alt="Lara de Sousa Blanes"
              sizes="(max-width: 800px) 100vw, 400px"
              width={400}
              height={400}
              class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
            /></a>
          </div>

          <div class="mt-4 text-center">
            <h2 class="text-lg text-gray-900">Lara Sousa Blanes</h2>
            <h3 class="text-sm text-slate-700">
              Psicóloga
            </h3>
            <h4 class="text-sm text-slate-600">
              (CRP 06/120257)
            </h4>
          </div>
        </div>
  </div>
</Container>
</div>